
#section1-main {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-bottom: 25vh;
}


#section1-left {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media (max-aspect-ratio: 1/1) or (orientation: portrait) or (max-width: 830px){
        justify-content: center;
    }
}


#section1-left-inner {
    width: 100%;
    margin-left: 4rem;
    margin-right: 1rem;
    margin-bottom: 10%;

    @media (max-aspect-ratio: 1/1) or (orientation: portrait) or (max-width: 830px){
        justify-content: center;
        margin: 0;
        padding: 0 1.5rem;
    }
}


#hiiam {
    color: white;
    font-size: 2.5rem;
    text-shadow: -4px 4px 4px rgb(0, 0, 0, 0.5);
    
    @media (max-aspect-ratio: 1/1) or (orientation: portrait) or (max-width: 830px){
        text-align: center;
        font-size: min(calc(90vw / 12), 1.8rem);
    }
}


.myname {
    font-size: 2.7rem;
    font-weight: bold;
    background: linear-gradient(100deg, #6549d5 0%, #3272e7 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    background-size: 200% 200%;
    animation: shine 2s infinite;

    @media (max-aspect-ratio: 1/1) or (orientation: portrait) or (max-width: 830px){
        text-align: center;
        white-space: wrap;
        font-size: min(calc(90vw / 12), 2rem);
    }
}
#myname:hover {
    transform: scale(1.01); /* Slightly enlarge the button */
}


#small-discription {
    color: lightgray;
    margin-top: .9rem;
    font-size: 1.1rem;

    @media (max-aspect-ratio: 1/1) or (orientation: portrait) or (max-width: 830px){
        text-align: center;
        font-size: min(calc(90vw / 12), 1rem);
    }
}


#section1-buttons-holder {
    display: flex;
    width: 100%;
    margin-top: 3rem;

    @media (max-aspect-ratio: 1/1) or (orientation: portrait) or (max-width: 830px){
        justify-content: center;
    }
}


#section1-projects-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(100%, 1.2rem);
    color: white;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background: linear-gradient(45deg, #6b4ae3 10%, #4663d3 90%);
    background-size: 200% 200%; /* Extend background for animation */
    animation: shine 2s infinite; /* Apply animation */
    box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for transform and box-shadow */
    cursor: pointer;
}
@keyframes shine {
    0% {
        background-position: 0% 50%; /* Start position */
    }
    50% {
        background-position: 100% 50%; /* Middle position */
    }
    100% {
        background-position: 0% 50%; /* End position */
    }
}
#section1-projects-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5); /* Darker shadow */
}


.section1-download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    font-size: min(100%, 1.2rem);
    color: white;
    width: 10rem;
    height: 3rem;
    margin-left: 2rem;
    box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.4);
    
    
    border-left: 5px solid #7746d3;
    border-right: 5px solid #4f46d3;
    border-top: 5px solid #6046d3;
    border-bottom: 5px solid #6046d3;
    background-repeat: no-repeat;
    border-radius: 10px;

    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for transform and box-shadow */
    cursor: pointer;
}
#navbar-download-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5); /* Darker shadow */
}








.section1-right {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: 100%;
    /* background-image: radial-gradient(circle, #36529a -100%, transparent 65%); */
}

.section1-image-window {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    height: 85%;
    border-radius: 17px 0 0 17px;
    /* border-left: 1px solid#aeaeae;
    border-top: 1px solid#aeaeae;
    border-bottom: 1px solid#aeaeae; */
    border-right: none;
    background-color: rgba(84, 84, 84, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -15px 15px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translate(50%, 10%);
    transition: transform .8s ease;
}
#section1-image-window.active {
    transform: translate(0, 0); /* Moves the div to its normal position */
}


#window-top-bar {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    /* height: 7%; */
    aspect-ratio: 18/1;
    border-radius: 17px 0 0 0;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: auto;
}

.window-bar-btn {
    height: 45%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

#window-bar-title {
    color: grey;
    font-size: min(3vw, .9em);
    margin: auto;
}

#window-code {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 13%;
    padding-top: 7%;
    width: 100%;
    height: 93%;
}

.window-code-line {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 2.5%;
    margin-top: 2.5%;
}

.window-code-elem {
    visibility: hidden;
    height: 100%;
    border-radius: 1000px;
}
